{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

{% if main_form.errors %}
<div class="alert alert-danger" role="alert">
    {{ main_form.errors }}
    {% for key, value in main_form.errors.items %}
        {{ value }}
    {% endfor %}
  </div>
{% endif %}

<form method="POST">
{% csrf_token %}
<div class="mb-3">
    <label class="form-label">Nazwa</label>
    {% render_field main_form.name class+="form-control" %}
    {% if main_form.errors.name %}
        <span class="text-danger">{{ main_form.errors.name }}</span>
    {% endif %}
</div>
<div class="mb-3">
<label class="form-label">Zapytanie</label>
{% render_field main_form.raw_sql class+="form-control" %}
</div>
<div class="mb-3">
    <label class="form-label">Endpoint</label>
    {% render_field main_form.api class+="form-control" %}
</div>

<hr>
<div id="formset-container">
    <p class="mt-3 mb-3">Parametry zapytania</p>
    {{ params_formset.management_form }}
    {% for param_form in params_formset %}

        {% if param_form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for key, value in param_form.errors.items %}
                {{ value }}
            {% endfor %}
          </div>
        {% endif %}
        <div class="param-form">
            <div class="mb-3">
                <label class="form-label">Nazwa</label>
                {% render_field param_form.name class+="form-control" %}
            </div>
            <div class="mb-3">
                <label class="form-label">Opis</label>
                {% render_field param_form.description class+="form-control" %}
            </div>
            <div class="mb-3">
                <label class="form-label">Typ</label>
                {% render_field param_form.param_type class+="form-control" %}
            </div>
            <div class="mb-3">
                {% render_field param_form.required class+="form-check-input" %}
                <label class="form-check-label" >
                    Wymagane
                </label>
                
            </div>
            <div class="mb-3">
                <label class="form-label">Wartość domyślna</label>
                {% render_field param_form.default_value class+="form-control" %}
            </div>
        </div>
    {% endfor %}



    <button class="btn btn-success" id="add-param-form" type="button">Dodaj kolejny parametr</button>

</div>

    

<button type="submit" class="btn btn-primary">Zatwierdź</button>
</form>


<script>
    let paramForms = document.querySelectorAll(".param-form")
    let addButton = document.querySelector("#add-param-form")
    let maxNumParamForms = document.querySelector("#id_form-MAX_NUM_FORMS").value
    let formsetContainer = document.querySelector('#formset-container')
    let totalParamForm = document.querySelector("#id_form-TOTAL_FORMS")
    
    let formNumber = paramForms.length - 1

    addButton.addEventListener('click', addParamform)
    
    function addParamform(event) {
        event.preventDefault()

        let newParamForm = paramForms[0].cloneNode(true);
        let newParamFormRegexElements = RegExp(`form-(\\d){1}-`, 'g')

        formNumber++
        newParamForm.innerHTML = newParamForm.innerHTML.replace(newParamFormRegexElements, `form-${formNumber}-`)
        formsetContainer.insertBefore(newParamForm, addButton)
        totalParamForm.setAttribute('value', `${formNumber+1}`)

    }

</script>

{% endblock %}
