{% extends 'base.html' %}

{% block content %}
<div class="flex flex-col mx-36 mt-36">

    <h1 class="font-bold text-3xl my-5">Moje raporty</h1>

    <div class="flex gap-x-5">

<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Nazwa raportu
                </th>
                <th scope="col" class="px-6 py-3">
                    Kategoria raportu
                </th>
                <th scope="col" class="px-6 py-3">
                    Data raportu
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
                <th scope="col" class="px-6 py-3">
                    Akcje
                </th>
            </tr>
        </thead>
        <tbody>
            {% for report in object_list %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" id="row-{{ report.id }}">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ report.sql_query.name }}
                </th>
                <td class="px-6 py-4">
                    {% for category in report.sql_query.sql_categories.all %}
                    <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded">{{ category.sql_category.name }}</span>
                    {% endfor %}
                </td>
                <td class="px-6 py-4">
                    {{ report.publication_datetime }}
                </td>
                <td class="px-6 py-4" id="row-{{ report.id }}-status">
                    <span class="bg-{{ report.get_color_for_status }}-100 text-{{ report.get_color_for_status }}-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded">{{ report.get_status_display }}</span>
                    
                </td>
                <td class="px-6 py-4" id="row-{{ report.id }}-url">
                    {% if report.status == 'done' %}
                    <a href="{% url 'result' report.id %}" class="text-blue-600 font-semibold">Przejdź do raportu</a>
                    {% else %}
                    -
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <nav class="flex items-center flex-column flex-wrap md:flex-row justify-between pt-4 mt-5" aria-label="Table navigation">
        <span class="text-sm font-normal text-gray-500 dark:text-gray-400 mb-4 md:mb-0 block w-full md:inline md:w-auto">Strona <span class="font-semibold text-gray-900 dark:text-white">{{ page_obj.number }}</span> z <span class="font-semibold text-gray-900 dark:text-white">{{ page_obj.paginator.num_pages }}</span></span>
        <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Poprzednia</a>
            </li>
            {% endif %}
            <li>
                <a href="?page=1" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
            </li>
            {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Następna</a>
            </li>
            <li>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Ostatnia</a>
            </li>
            {% endif %}
        </ul>
    </nav>


</div>



</div>

</div>







{% endblock %}