{% extends 'base.html' %}

{% block content %}
<div class="mx-36 mt-36">

<h1 class="text-2xl">Raport <span class="font-bold">{{ object.sql_query }}</span></h1>

<table class="mt-5 w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        {% for column_name in object.output_data.0.keys %}
        <th class="px-6 py-3" scope="col">{{ column_name }} </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
        {% for row in page_obj %}
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        {% for col_name, value in row.items %}
        <th class="px-6 py-4" scope="row">{{ value }}</th>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <nav class="flex items-center flex-column flex-wrap md:flex-row justify-between pt-4 mt-5" aria-label="Table navigation">
    <span class="text-sm font-normal text-gray-500 dark:text-gray-400 mb-4 md:mb-0 block w-full md:inline md:w-auto">Strona <span class="font-semibold text-gray-900 dark:text-white">{{ page_obj.number }}</span> z <span class="font-semibold text-gray-900 dark:text-white">{{ page_obj.paginator.num_pages }}</span></span>
    <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
        {% if page_obj.has_previous %}
        <li>
            <a href="?page={{ page_obj.previous_page_number }}" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Poprzednia</a>
        </li>
        {% endif %}
        <li>
            <a href="?page=1" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
        </li>
        {% if page_obj.has_next %}
        <li>
            <a href="?page={{ page_obj.next_page_number }}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Następna</a>
        </li>
        <li>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Ostatnia</a>
        </li>
        {% endif %}
    </ul>
</nav>

</div>

{% endblock %}