{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}


<div class="mx-36 mt-36 w-3/4 flex flex-col justify-center items-center">


<h1 class="text-2xl">Raport <span class="font-bold">{{ report_name }}</span></h1>

{% if form.errors %}
<div class="border-l-4 border-yellow-400 bg-yellow-50 p-4">
    <div class="flex">
      <div class="flex-shrink-0">
        <svg class="h-5 w-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
        </svg>
      </div>
      <div class="ml-3">
        <p class="text-sm text-yellow-700">
            {{ form.errors }}
         
        </p>
      </div>
    </div>
  </div>
{% endif %}

<form method="post"  class="mt-10 w-3/4">
    {% csrf_token %}
    {% for field in form %}
    <div class="my-5">
        <label for="{{ field.name }}" class="block text-sm font-medium leading-6 text-gray-900">{{ field.label_tag }} 
            {% if field.required %}
            <span>*</span>
            {% endif %}
        </label>
        <div class="mt-2">
            {% render_field field class+="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %}

        </div>
    </div>
    {% endfor %}
    <div class="mt-6 flex items-center justify-end gap-x-6">
        <a href="{% url 'sql_query_categories' category_obj.sql_category.id %}" class="text-sm font-semibold leading-6 text-gray-900">Wstecz</a>
        <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Wygeneruj raport</button>
      </div>
</form>

</div>
{% endblock %}