{% extends 'base.html' %}

{% block content %}

<div class="flex flex-col mx-36 mt-36">

    <h1 class="font-bold text-3xl my-5">Kategorie zapytań</h1>

    <div class="flex gap-x-5">
    {% for category in object_list %}

    <a href="{% url 'sql_query_categories' category.sql_category.id %}" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ category.sql_category.name }}</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget nibh est. Donec lobortis pharetra ante sit amet suscipit. Donec massa libero, laoreet vel gravida non, bibendum nec dolor... </p>
    </a>

{% empty %}
    Brak dostępnych kategorii
{% endfor %}
</div>
</div>
{% endblock %}