{% extends 'base.html' %}

{% block content %}
<h1>Testowe Zapytnie</h1>

<table class="table">
    <thead>
      <tr>
        {% for column_name in columns %}
        <th scope="col">{{ column_name }} </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
        {% for row in data %}
      <tr>
        {% for col_name, value in row.items %}
        <th scope="row">{{ value }}</th>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}