{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      {% render_field form.name class+="form-control" %}
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">API ID</label>
        {% render_field form.api_id class+="form-control" %}
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">SQL RAW</label>
        {% render_field form.raw_sql class+="form-control" %}
    </div>
    
    <button type="submit" class="btn btn-primary">Dodaj</button>
  </form>

{% endblock %}