<script>

    const socket = new WebSocket('ws://' + window.location.host + '/ws/tasks/' + `{{ user.username }}/`);

    socket.onopen = function(event) {
      console.log('Połączono z Websocketem')
    }

    socket.onmessage = function(event) {
      const data = JSON.parse(event.data);
      console.log("dostano komunikat od serwera: ")
      console.log(data.message)
      if ( data.message === 'task_done' ) {
        const obj_data = JSON.parse(data.data)
        const id = obj_data.data.id
        const status = obj_data.data.status
        const statusName = obj_data.data.status_name
        const row = document.querySelector(`#row-${id}`)
        let row_status = row.querySelector(`#row-${id}-status`)
        let row_url = row.querySelector(`#row-${id}-url`)
        console.log(status)
        if ( status === 'done' ) {
          toastr.success('Możesz przejść do raportu..', 'Raport Gotowy!')
          let statusColor = 'green'
          row_status.innerHTML = `<span class="bg-${statusColor}-100 text-${statusColor}-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded">${statusName}</span>`
          row_url.innerHTML = `<a href="/result/${id}" class="text-blue-600 font-semibold">Przejdź do raportu</a>`
        } else if ( status === 'running' ) {
          toastr.warning('Trwa generowanie raportu.', 'Raport się generuje!')
          let statusColor = 'yellow'
          row_status.innerHTML = `<span class="bg-${statusColor}-100 text-${statusColor}-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded">${statusName}</span>`
          
        }
        
      } 
    }

    function sendMessage() {
      socket.send(JSON.stringify({
        'message': 'Komunikat od klienta'
      }))
    }

  </script>